 <!DOCTYPE html>
 <html>
 <head>
   <title></title>
 </head>
 <body>
 
 <h1 style="text-decoration: underline; color:teal">Les supers gossip - Créer ton potin !</h1>
    <form action='/gossips' method='POST'>
      <!--mise en forme -->
        <legend>Balance ton potin !</legend>
        <br>
        Saisi ici ton nom : <br>
        <input type='text' name='gossip_author'/> <br>
        <br>
        Saisi ton potin : <br> <input type='text' name='gossip_content'/><br>
        <br>
      <input type='submit'/>
    </form>
</body>